.profile__parent {
  display: flex !important;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.profile {
  box-shadow: 0px 6px 52px -25px rgba(0, 0, 0, 0.68);
  padding: 20px;
  width: 100%;
}
